@import "tailwindcss";

@theme{
  --color-primary-light: #586A84;
  --color-primary-dark: #3B4758;
  --color-warning: #FFF2DA;
  --color-info: #129199;
  --color-success: #0DA678;
  --color-cancelled:#FF316A;
  --default-font-family: 'Roboto', 'sans-serif';
}

body{
  background: #EEF0F4;
}

.MuiChartsLegend-root.MuiChartsLegend-horizontal {
  margin-left: auto;
  margin-right: 20px; 
}
